[class*="col-"]{
  margin-bottom: 30px;
  border: 1px solid black;
  /* background-color: red; */
  min-height: 50px;
  position: relative;

}

h1, h3{
  text-align: center;
}

p{
  width: 72%;
  text-align: center;
  display: block;
  margin: 0 auto;
}

img{
  height: 200px;
  display: block;
  margin:0 auto 30px;

}
