[class*="col-"]{
  margin-bottom: 30px;
  min-height: 50px;
  /* debug */
  /* border: 1px solid black;  */
  /* background-color: red; */


}

h1, h3{
  text-align: center;
}

p{
  width: 91%;
  text-align: center;
  display: block;
  margin: 0 auto;
  margin-bottom: 10px;
}

img{
  height: 200px;
  display: block;
  margin:0 auto 30px;
  margin-top: 30px;

}

.circle-img img{
  height: 256px;
  width: 256px;
  background-color: #428BCA;
  border-radius: 100%;
  padding: 30px;
}

.margin{
  margin-bottom: 0;
}

.background-color{
  background-color: #F9F9F9;

}

.padding-bottom{
  padding-bottom: 18px;
}

.border-bottom{
  border-bottom: 1px solid #9A9A9A;

}
